.main {
  >section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-2xs);

    img {
      width: 100%;
    }

    h2 {
      font: var(--h5);
    }
  }
}

.article {
  background-color: var(--color-bg);
  padding: var(--spacing-s);
  border-radius: var(--spacing-xs);
  border: 1px solid var(--color-bg-light);
  height: 100%;
  color: var(--color-text);
}