.main {
  display: grid;
  grid-template-columns: min-content auto;
  gap: var(--spacing-m) var(--spacing-2xs);

  h1 {
    text-align: center;
    margin-top: var(--spacing-m);
    grid-area: auto / span 2;
  }

  >p {
    font-size: var(--font-s-h6);
    text-align: center;
    margin-top: var(--spacing-m);
  }

  label {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xs);

    span {
      padding-left: var(--spacing-2xs);
      font: var(--small);
      color: var(--color-text-muted);
    }
  }

  >section {
    max-width: var(--max-readable-width);
    background-color: var(--color-bg);
    padding: var(--spacing-xs);
    border-radius: var(--card-border-radius);
    border: var(--card-border);
    border-left-color: var(--color-accent);

    >div {
      display: grid;
      grid-template-columns: 1fr min-content;
      align-items: center;

      >div {
        text-wrap-mode: nowrap;
      }
    }

    >*+* {
      margin-top: var(--spacing-2xs);
    }
  }

  >section:nth-of-type(1) {
    height: fit-content;
    position: sticky;
    top: var(--spacing-xl);

    form {
      display: grid;
      gap: var(--spacing-xs);
    }

    select {
      text-transform: capitalize;
    }

    button {
      width: 100%;
    }
  }

  h2 {
    font: var(--h4);
  }
}

.commit-article {
  background-image: var(--card-bg);
  padding: var(--spacing-xs);
  border-radius: var(--spacing-2xs);
  border: var(--card-border);

  h3 {
    font: var(--p);
    color: var(--color-text-muted);
  }

  p {
    font-size: var(--font-s-h5);
    margin-top: var(--spacing-2xs);
  }

  img {
    vertical-align: top;
    display: inline-block;
    margin-right: var(--spacing-2xs);
    width: 1.3em;
    height: 1.3em;
    border-radius: var(--spacing-3xs);
  }
}