.main {
  >h1 {
    text-align: center;
    font: var(--h2);
  }

  >p {
    font-size: var(--font-s-h6);
    text-align: center;
    margin-top: var(--spacing-m);
  }

  >section {
    margin-top: var(--spacing-2xl);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-xl);
  }
}

.devcard-article {
  display: flex;
  background: linear-gradient(var(--color-bg-light), var(--color-bg));
  padding: var(--spacing-m);
  border-radius: var(--spacing-s);
  border: 1px solid var(--color-bg-light);
  gap: var(--spacing-m);

  >img {
    aspect-ratio: 1;
    width: 100px;
    border-radius: var(--spacing-xs);
    background-color: var(--color-bg-dark);
    border: 2px solid var(--color-bg-light);
  }

  h2 {
    font: var(--h4);

    &+span {
      margin-top: var(--spacing-2xs);
      color: var(--color-text-muted);
      font-size: var(--font-s-h6);
    }
  }

  >div {
    display: flex;
    flex-direction: column;

    >div {
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-2xs);

      span {
        padding: 2px var(--spacing-xs);
        border-radius: var(--spacing-xs);
        border: 2px solid var(--color-bg-light);
        background-color: var(--color-bg-dark);

        &:first-of-type {
          border-color: oklch(from var(--color-primary) l c h / 0.5);
        }
      }
    }
  }
}