.main {
  >h1 {
    margin-top: var(--spacing-m);
    text-align: center;
  }

  >p {
    font-size: var(--font-s-h5);
    text-align: center;
  }

  >section {
    margin-top: var(--spacing-m);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-2xs);
  }
}

.devcard-article {
  display: flex;
  background-image: var(--card-bg);
  padding: var(--spacing-xs);
  border-radius: var(--card-border-radius);
  border: var(--card-border);
  border-left-color: var(--color-accent);
  gap: var(--spacing-xs);

  >img {
    aspect-ratio: 1;
    height: var(--spacing-5xl);
    border-radius: var(--spacing-3xs);
    background-color: var(--color-bg-dark);
    border: var(--card-border);
  }

  h2 {
    font: var(--h5);

    &+span {
      color: var(--color-text-muted);
    }
  }

  >div {
    display: flex;
    flex-direction: column;

    >div {
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-3xs);

      span {
        padding-inline: var(--spacing-2xs);
        border-radius: var(--spacing-2xs);
        border: var(--card-border);
        background-color: var(--color-bg-dark);

        &:first-of-type {
          border-color: oklch(from var(--color-accent) l c h / 0.5);
        }
      }
    }
  }
}