.main {
  >section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: var(--spacing-2xs);
    margin-top: var(--spacing-2xl);
    scroll-margin-top: var(--spacing-4xl);

    ul {
      text-wrap-mode: nowrap;
    }

    aside,
    article {
      scroll-margin-top: var(--spacing-4xl);
      background-image: var(--card-bg);
      padding: var(--spacing-xs);
      border: var(--card-border);
      border-radius: var(--card-border-radius);
      border-left-color: var(--color-accent);

      img {
        border: var(--card-border);
        border-radius: var(--spacing-3xs);
      }
    }

    aside {
      position: sticky;
      top: var(--spacing-4xl);
      align-self: self-start;
    }

    article {
      max-width: var(--max-readable-width);

      &+article {
        margin-top: var(--spacing-2xs);
      }
    }
  }
}