.main {
  >section {
    margin-top: var(--spacing-m);
    background-color: var(--color-bg);
    border-radius: var(--spacing-s);
    border: 1px solid var(--color-bg-light);
    padding: var(--spacing-xl);

    div {
      margin-top: var(--spacing-s);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-m);
    }

    &:first-of-type>div {
      grid-template-columns: repeat(3, 1fr);
    }

    img {
      border-radius: var(--spacing-s);
      border: 2px solid var(--color-bg-light);
      width: 100%;
      background-image: conic-gradient(
        var(--bg-1) 0deg 90deg,
        var(--bg-2) 90deg 180deg,
        var(--bg-1) 180deg 270deg,
        var(--bg-2) 270deg 360deg);
      background-position: top left;
      background-size: 32px 32px;

      &.dark_bg {
        --bg-1: var(--color-bg-dark);
        --bg-2: var(--color-bg);
      }

      &.light_bg {
        --bg-1: var(--color-text);
        --bg-2: var(--color-text-muted);
      }
    }
  }
}